 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-8 offset-2">
                    <p>I am a software developer, with a passion for helping non-profits manage their data and campaigns. From one page websites to custom built applications, I can build whatever your organization needs. I also work selectively with for-profit companies, when the right project comes along.</p>
                    <p>I specialize in Ruby on Rails, NationBuilder and Shopify. However, I am platform agnostic and can work with whatever tools we determine are the best solution.</p>
                    <p>I live on beautiful Vancouver Island with my partner and two dogs. I spend my time restoring an old Jeep and running in the mountains. I use he\him pronouns.</p>
                </div>
                <div class="col-8 offset-2 text-center">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope"></i> Contact Me
                    </a>
                </div>
            </div>
        </div>
    </section>
